h1{
    font-style: italic;
    border-style: groove;
    background-color: aquamarine;
    color: brown;
}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: burlywood;
    color: cornflowerblue;
    
}